[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2 = "*"
dj-database-url = "*"
whitenoise = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
python-decouple = "*"
Pillow = "*"
django-allauth = "*"
dj-rest-auth = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
